# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
._RickAndMorty
._RickAndMorty.xcodeproj
._RickAndMortyPackage
._RickAndMortyTests
._Screenshots
RickAndMorty.xcodeproj/._project.xcworkspace
RickAndMorty.xcodeproj/._xcshareddata
RickAndMorty.xcodeproj/._xcuserdata
RickAndMorty.xcodeproj/project.xcworkspace/._contents.xcworkspacedata
RickAndMorty.xcodeproj/project.xcworkspace/._xcshareddata
RickAndMorty.xcodeproj/project.xcworkspace/._xcuserdata
RickAndMorty.xcodeproj/project.xcworkspace/xcshareddata/._IDEWorkspaceChecks.plist
RickAndMorty.xcodeproj/project.xcworkspace/xcshareddata/._swiftpm
RickAndMorty.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/._configuration
RickAndMorty.xcodeproj/xcshareddata/._xcschemes
RickAndMorty.xcodeproj/xcshareddata/xcschemes/._RickAndMorty.xcscheme
RickAndMorty/._Resources
RickAndMorty/._Sources
RickAndMorty/._Support
RickAndMorty/Resources/._Assets.xcassets
RickAndMorty/Resources/._Base.lproj
RickAndMorty/Resources/._Colors.xcassets
RickAndMorty/Resources/Assets.xcassets/._AppIcon.appiconset
RickAndMorty/Resources/Assets.xcassets/._Contents.json
RickAndMorty/Resources/Assets.xcassets/._descarga.imageset
RickAndMorty/Resources/Assets.xcassets/AppIcon.appiconset/._Contents.json
RickAndMorty/Resources/Assets.xcassets/AppIcon.appiconset/._descarga-1024.png
RickAndMorty/Resources/Assets.xcassets/descarga.imageset/._Contents.json
RickAndMorty/Resources/Assets.xcassets/descarga.imageset/._descarga 1.jpeg
RickAndMorty/Resources/Assets.xcassets/descarga.imageset/._descarga 2.jpeg
RickAndMorty/Resources/Assets.xcassets/descarga.imageset/._descarga.jpeg
RickAndMorty/Resources/Base.lproj/._LaunchScreen.storyboard
RickAndMorty/Resources/Colors.xcassets/._Accent.colorset
RickAndMorty/Resources/Colors.xcassets/._Contents.json
RickAndMorty/Resources/Colors.xcassets/Accent.colorset/._Contents.json
RickAndMorty/Sources/._RickAndMortyApp.swift
RickAndMorty/Sources/._TabBar
RickAndMorty/Sources/TabBar/._MainTabBar.swift
RickAndMorty/Sources/TabBar/._TabBarIcon.swift
RickAndMorty/Support/._Info.plist
RickAndMortyPackage/._.swiftpm
RickAndMortyPackage/._Package.swift
RickAndMortyPackage/._Sources
RickAndMortyPackage/._Tests
RickAndMortyPackage/.swiftpm/._xcode
RickAndMortyPackage/.swiftpm/xcode/._xcuserdata
RickAndMortyPackage/Sources/._CharacterDetail
RickAndMortyPackage/Sources/._CharacterList
RickAndMortyPackage/Sources/._Domain
RickAndMortyPackage/Sources/._EpisodeDetail
RickAndMortyPackage/Sources/._EpisodeList
RickAndMortyPackage/Sources/._Filters
RickAndMortyPackage/Sources/._LocationDetail
RickAndMortyPackage/Sources/._LocationList
RickAndMortyPackage/Sources/._Network
RickAndMortyPackage/Sources/._RickAndMortyAPI
RickAndMortyPackage/Sources/._SwiftUIUtils
RickAndMortyPackage/Sources/._SwiftUtils
RickAndMortyPackage/Sources/CharacterDetail/._Presentation
RickAndMortyPackage/Sources/CharacterDetail/Presentation/._Models
RickAndMortyPackage/Sources/CharacterDetail/Presentation/._Navigator
RickAndMortyPackage/Sources/CharacterDetail/Presentation/._View
